In [2]:
from indicators import compute_ema, compute_macd, compute_log_return
import pandas as pd
from io import StringIO
import os

In [3]:
path = '/Users/giovannigiofre/Desktop/lab investments/Lab_of_Investment_project/raw_data/'
BELEX15 = 'BELEX15.csv'
SOFIX = 'SOFIX.csv'
CBX10 = 'CBX10.csv'
SP500 = 'S&P500.csv'
SP600 = 'S&P600.csv'

In [4]:
BELEX15 = pd.read_csv(path + BELEX15)
SOFIX = pd.read_csv(path + SOFIX)
CBX10 = pd.read_csv(path + CBX10)
SP500 = pd.read_csv(path + SP500)
SP600 = pd.read_csv(path + SP600)

In [5]:
#BELEX15 index

BELEX15 = 'BELEX15.csv'

BELEX15 = pd.read_csv((path + BELEX15), delimiter=';')

BELEX15['date'] = pd.to_datetime(BELEX15['date'], format='%d.%m.%Y', errors='coerce')

BELEX15 = BELEX15[['date', 'Value']]

BELEX15['Value'] = BELEX15['Value'].str.replace('.', '').str.replace(',', '.').astype(float)

BELEX15 = BELEX15.rename(columns={'Value': 'price'})

# Sort DataFrame based on 'date' and reset the index
BELEX15 = BELEX15.sort_values(by='date').reset_index(drop=True)

BELEX15.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4345 entries, 0 to 4344
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    4343 non-null   datetime64[ns]
 1   price   4343 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 68.0 KB

In [6]:
BELEX15.head()

        date    price
0 2005-10-04   998.50
1 2005-10-05  1009.26
2 2005-10-06  1019.67
3 2005-10-07  1028.04
4 2005-10-10  1034.93

In [7]:
#SOFIX index

SOFIX = 'SOFIX.csv'

SOFIX = pd.read_csv((path + SOFIX), delimiter=';')

SOFIX['date'] = pd.to_datetime(SOFIX['date'], format='%Y-%m-%d', errors='coerce')

SOFIX = SOFIX.rename(columns={'Value': 'price'})
SOFIX.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4451 entries, 0 to 4450
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    4451 non-null   datetime64[ns]
 1   price   4451 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 69.7 KB

In [8]:
SOFIX.head()

        date   price
0 2005-01-03  623.59
1 2005-01-04  625.86
2 2005-01-05  617.68
3 2005-01-06  624.09
4 2005-01-07  622.88

In [9]:
# CBX10 index

CBX10 = 'CBX10.csv'

CBX10 = pd.read_csv((path + CBX10), delimiter=',')

CBX10['date'] = pd.to_datetime(CBX10['date'], format='%Y-%m-%d', errors='coerce')

CBX10 = CBX10[['date', 'last_value']]

CBX10 = CBX10.rename(columns={'last_value': 'price'})

# Sort DataFrame based on 'date' and reset the index
CBX10 = CBX10.sort_values(by='date').reset_index(drop=True)

CBX10.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3240 entries, 0 to 3239
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3240 non-null   datetime64[ns]
 1   price   3239 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 50.8 KB

In [10]:
CBX10.head()

        date    price
0 2010-01-04  1068.63
1 2010-01-05  1082.83
2 2010-01-07  1089.46
3 2010-01-08  1097.11
4 2010-01-11  1114.68

In [11]:
# SP500 index

SP500 = 'S&P500.csv'

SP500 = pd.read_csv((path + SP500), delimiter=',')

SP500['date'] = pd.to_datetime(SP500['date'], format='%m/%d/%Y')

# Keep only 'date' and 'Price' columns
SP500 = SP500[['date', 'Price']]

# Convert 'Price' column to float
SP500['Price'] = SP500['Price'].replace('[\$,]', '', regex=True).astype(float)

# Sort DataFrame based on 'date' and reset the index
SP500 = SP500.sort_values(by='date').reset_index(drop=True)

SP500 = SP500.rename(columns={'Price': 'price'})

SP500.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4531 entries, 0 to 4530
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    4531 non-null   datetime64[ns]
 1   price   4531 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 70.9 KB

In [12]:
SP600.head()

,Date,Open,High,Low,Close,Adj Close,Volume
0,2010-01-04,333.940002,339.869995,333.940002,339.640015,339.640015,0
1,2010-01-05,339.470001,340.109985,337.059998,338.480011,338.480011,0
2,2010-01-06,338.220001,339.790009,337.100006,338.149994,338.149994,0
3,2010-01-07,338.279999,340.440002,335.299988,340.390015,340.390015,0
4,2010-01-08,339.559998,341.589996,339.070007,341.470001,341.470001,0

In [13]:
# SP600 index

SP600 = 'S&P600.csv'

SP600 = pd.read_csv((path + SP600), delimiter=',')

SP600['Date'] = pd.to_datetime(SP600['Date'], format='%Y-%m-%d')

# Keep only 'date' and 'Close' columns
SP600 = SP600[['Date', 'Close']]

SP600['Close'] = SP600['Close'].round(2)

# Sort DataFrame based on 'date' and reset the index
SP600 = SP600.sort_values(by='Date').reset_index(drop=True)

SP600 = SP600.rename(columns={'Close': 'price', 'Date': 'date'})

SP600.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3272 entries, 0 to 3271
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   date    3272 non-null   datetime64[ns]
 1   price   3272 non-null   float64
dtypes: datetime64[ns](1), float64(1)
memory usage: 51.2 KB

In [14]:
SP600.head()

        date   price
0 2010-01-04  339.64
1 2010-01-05  338.48
2 2010-01-06  338.15
3 2010-01-07  340.39
4 2010-01-08  341.47

In [15]:
def filter_data_by_date_range(df, start_date, end_date):
    """
    Filter DataFrame rows based on a date range.

    Parameters:
    - df: pandas DataFrame
    - start_date: string or Timestamp
    - end_date: string or Timestamp

    Returns:
    - filtered DataFrame
    """
    # Convert start_date and end_date to Timestamp
    start_date = pd.to_datetime(start_date)
    end_date = pd.to_datetime(end_date)

    # Filter DataFrame based on the date range
    filtered_df = df[(df['date'] >= start_date) & (df['date'] <= end_date)].reset_index(drop=True)

    return filtered_df

In [16]:
BELEX15 = filter_data_by_date_range(BELEX15, '2010-01-01', '2022-12-31')
SOFIX = filter_data_by_date_range(SOFIX, '2010-01-01', '2022-12-31')
CBX10 = filter_data_by_date_range(CBX10, '2010-01-01', '2022-12-31')
SP600 = filter_data_by_date_range(SP600, '2010-01-01', '2022-12-31')
SP500 = filter_data_by_date_range(SP500, '2010-01-01', '2022-12-31')

In [19]:
# Creatin indicators
from indicators import compute_ema, compute_macd, compute_log_return
for index in [BELEX15,SOFIX, CBX10, SP600, SP500]:
    index['EMA_10'] = compute_ema(index)
    index['MACD'] = compute_macd(index)
    index['Log_Return'] = compute_log_return(index)

In [20]:
SOFIX.to_csv('/Users/giovannigiofre/Desktop/lab investments/Lab_of_Investment_project/data/SOFIX_.csv', index=False)
BELEX15.to_csv('/Users/giovannigiofre/Desktop/lab investments/Lab_of_Investment_project/data/BELEX15_.csv', index=False)
CBX10.to_csv('/Users/giovannigiofre/Desktop/lab investments/Lab_of_Investment_project/data/CBX10_.csv', index=False)
SP600.to_csv('/Users/giovannigiofre/Desktop/lab investments/Lab_of_Investment_project/data/SP600_.csv', index=False)
SP500.to_csv('/Users/giovannigiofre/Desktop/lab investments/Lab_of_Investment_project/data/SP500_.csv', index=False)